@import "../bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

// var-root-mixin
@mixin text-rule{
    color: $warning;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $dark;
}
@mixin margin-tb{
    margin-top: 12rem;
    margin-bottom: 12rem;
}

@mixin margin-lr{
    margin-left: 5rem;
    margin-left: 5rem;
}

:root{
    --bs-font-sans-serif: "Bungee", sans-serif; ;
  }
// end var-root-mixin

// animated-background
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, $warning 50%, #ffffff 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
   
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
// end animated-background

// style
html{
    height:100%;
    scroll-behavior: smooth;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
}

 body{
     margin: 0!important;
     padding: 0!important;
}
// nav
header{
    margin-right: 0.5rem;
    
}
// hero-grid
.hero{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 1rem;
    margin-top: 9rem;
    text-align: center;
    animation: fade linear;
    animation-timeline: view();
    animation-range: exit;
    .caboom{
        grid-column: 1;
        grid-row: 1;

        h1{
            font-size: 2rem;
            color: $dark;
            em{
                @include text-rule;
            }
        }
        }
        .img-hero{
            grid-column: 1;
            grid-row: 2;

            img{
                max-width: 60%;
                background-color: $warning;
                border-radius: 5%;
                }       
        }
        .hero-call{
            grid-column: 1;
            grid-row: 3;
            h2{
                @include text-rule;
            }
            i{
                margin-left: 1rem;
                font-size: 2rem;
                 -webkit-text-stroke-width: 1px;
                 -webkit-text-stroke-color: $light;
            }
        }
    
}  
    @keyframes fade{
        to{
            opacity: 0;
        }
    }
//  end hero-grid

// main-container
.skills-desktop{
    display: none;
}

.container{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;   
    text-align: center;
       .about{
            grid-column: 1;
            grid-row: 1;
            @include margin-tb;
            h2{
                @include text-rule;
            }
            }
        .row{
            grid-column: 1;
            grid-row: 2;
            @include margin-tb;
            margin:1.5rem;
            h2{
                @include text-rule;
                margin-bottom: 3rem;
            }
            .card{
                margin-bottom: 3rem;
                h5{
                    @include text-rule;
                }
            }
            }
        .skills{
            grid-column: 1;
            grid-row: 3;
            text-align: center;
            @include margin-tb;
                h2{
                    @include text-rule;
                    margin-bottom: 3rem;
                }
                
                }
        
        .portfolio{
            grid-column: 1;
            grid-row: 4;
            text-align: center;
            @include margin-tb;
            h2{
                @include text-rule;
                margin-bottom: 3rem;
            }
                }
        .row{
            grid-column: 1;
            grid-row: 5;
            @include margin-tb;
            margin:1.5rem;
            .card{
                margin-bottom: 3rem;
                h5{
                        @include text-rule;
                }
            }
        }
    
}
// end main-container

// footer
.link-social{
    color: $light;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $dark;
    .icon{
        i{
            margin-left: 1rem;
            font-size: 2rem;
             -webkit-text-stroke-width: 1px;
             -webkit-text-stroke-color: $light;
        }
    }
 
  }
//   end footer


// form section

form{
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    
    input{
        margin:1rem ;
        border-radius: 10px;
        color: $warning;
    }
    textarea{
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 10px;
        max-width: 80%;
        height: 40%;
        color: $warning;
    }
    .box{
        box-shadow: 0 0.2rem 0.2rem 0.2rem $dark;
    }
    .box2{
        background-color: $dark;
        color: $warning;
    }
    .box2:hover{
        background-color: $warning;
        color: $dark;
    } 
}
// end form section

// CV Section

.main{
    display: grid;
    grid-template-columns:1fr;
    margin-top: 2rem;
    border-radius: 2%;
    
}
.sidebar{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
    font-size: 0.7rem;
    text-align: left;
    background-color: #ffffff0f;
    backdrop-filter: blur(10px);
    border:1px solid #ffffff;
    box-shadow:0 0.7rem 0.7rem 0.4rem #ffffff;
    color: $dark;
    padding: 0.5rem;
    border-radius: 2%;
    .img-info{
        grid-column: 1;
        grid-row: 2;
    }
    .card{
        overflow: hidden;
        img{
            object-fit: cover;
            max-width: fit-content;
            }
        }
    .istr{
        grid-column: 1;
        grid-row: 3;
    }
    .ling{
        grid-column: 1;
        grid-row: 4;
    }
    .soft{
        grid-column: 1;
        grid-row: 5;
    }
    .frame{
        grid-column: 1;
        grid-row: 6;
    }
       
}
.mainbar{
    grid-column: 1;
    grid-row: 2;
    font-style: 1rem;
    text-align: left;
    padding: 0.5rem;
    color: $dark;
    .ita{
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .desc{
        margin-bottom: 2rem;
        .accordion-body{
             color: $dark;
            }
        }
    .prog{
        margin-bottom: 2rem;
        table{
            color: $warning;
        }

    }
    .privacy{
        border-top: 1px solid $warning;
        margin-top: 4rem;
        font-size:0.5rem;
    }
}
// end CV section

// media-query

@media (min-width:600px) {
    .main{
        margin-left: 15rem;
        margin-right: 15rem;
    }
    .sidebar{
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 1rem;
        font-size: 1rem;
        text-align: left;
        color: $dark;
        padding: 0.5rem;
        border-radius: 2%;
        .img-info{
            grid-column: 1;
            grid-row: 2;
        }
        .card{
            overflow: hidden;
            img{
                object-fit: cover;
                max-width: fit-content;
                }
            }
        .istr{
            grid-column: 1;
            grid-row: 3;
        }
        .ling{
            grid-column: 1;
            grid-row: 4;
        }
        .soft{
            grid-column: 2;
            grid-row: 3;
            border-left: 1px solid $dark;
        }
        .frame{
            grid-column: 2;
            grid-row: 4;
            border-left: 1px solid $dark;
        }
           
    }
}


@media (min-width:425px) {
    .hero{
        display: grid;
        grid-template-columns:1fr;
        grid-auto-rows: auto;
        gap: 1rem;
        padding: 1rem;
        margin-top: 6rem;
        text-align: center;
        animation: fade linear;
        animation-timeline: view();
        animation-range: exit;
        .caboom{
            grid-column: 1;
            grid-row: 1;
    
            h1{
                font-size: 2rem;
                color: $dark;
                em{
                    @include text-rule;
                }
            }
            }
            .img-hero{
                grid-column: 1;
                grid-row: 2;
    
                img{
                    max-width: 40%;
                    background-color: $warning;
                    border-radius: 5%;
                    }       
            }
            .hero-call{
                grid-column: 1;
                grid-row: 3;
                h2{
                    @include text-rule;
                }
            }
        
    }  
}
@media (min-width:768px) {
    .hero{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-auto-rows: auto;
        gap: 1rem;
        padding: 1rem;
        margin-top: 6rem;
        margin-left: 4rem;
        margin-right: 4rem;
        text-align: center;
        animation: fade linear;
        animation-timeline: view();
        animation-range: exit;
        background-color: #ffffff0f;
        backdrop-filter: blur(10px);
        border:1px solid #ffffff;
        box-shadow:0 0.7rem 0.7rem 0.4rem #ffffff;
        .caboom{
            grid-column: 2;
            grid-row: 1;
            border-bottom: 2px double $dark;

            h1{
                font-size: 4rem;
                color: $dark;
                em{
                    @include text-rule;
                }
            }
            }
            .img-hero{
                grid-column: 1;
                grid-row: 1/span 2;
    
                img{
                    max-width: 60%;
                    background-color: $warning;
                    border-radius: 5%;
                    }       
            }
            .hero-call{
                grid-column: 2;
                grid-row: 2;
                h2{
                    @include text-rule;
                }
            }
        
    }
    .container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 1rem;
        font-size: 1.5rem;
        padding: 1rem;   
        text-align: center;
        @include margin-tb;
        background-color: #ffffff0f;
        backdrop-filter: blur(10px);
        border:1px solid #ffffff;
        box-shadow:0 0.7rem 0.7rem 0.4rem #ffffff;
           .about{
                grid-column: 1;
                grid-row: 1;
                @include margin-tb;
                h2{
                    @include text-rule;
                }
                }
            .row{
                grid-column: 1;
                grid-row: 2;
                @include margin-tb;
                margin:1.5rem;
                h2{
                    @include text-rule;
                
                }
                .card{
                
                    h5{
                        @include text-rule;
                    }
                }
                }
            .skills{
                display: none;
            }    
            .skills-desktop{
                display: inherit;
                .row{
                    grid-column: 1;
                    grid-row: 3;
                    text-align: center;
                    h2{
                        @include text-rule;
                        margin-bottom: 3rem;
                    }
                }
                    
                }
            
            .portfolio{
                grid-column: 1;
                grid-row: 4;
                text-align: center;
                h2{
                    @include text-rule;
                    margin-bottom: 3rem;
                }
                    }
            .row{
                grid-column: 1;
                grid-row: 5;
                margin:1.5rem;
                .card{
                    margin-bottom: 3rem;
                    h5{
                            @include text-rule;
                    }
                }
            }
        
    }
    
}

@media (min-width:1500px) {
    .hero{
        margin-left: 12rem;
        margin-right: 12rem;
        padding: 10rem;
    }
}    
// end mediaquery
    








